html {
  background-color: rgb(174, 218, 134);
 
  
}
.container-fluid {
  background-color: rgb(174, 218, 134);
  
}

input[type="text"]{
  background: transparent;
  color:white
}

input[type="text"]:focus{
  background: transparent ;
  color: white;
 
}

